body {
    background-color:teal;
    color: gold;
}

.container {
    height: calc(100vh - 40rem);
    width: 100%;
    text-align: center;
}

#printer {
    padding-top: 10rem;
}

#notes {
    padding-top: 30rem;
}
